.expandable-box
	border 1px solid black
	box-sizing border-box
	.title
		padding .5em
		text-align center
		cursor pointer
	.line
		height 1px
		background-color grey
	.content
		padding .5em
		&.-closed
			display none